[Unit]
Description={{ blockchain_node_company }} node {{ item }}
After=network.target
{% if blockchain_node_reboot_on_failure is defined %}
StartLimitAction=reboot
{% endif %}
StartLimitBurst={{ blockchain_node_start_burst }}
StartLimitIntervalSec={{ blockchain_node_start_limit_interval }}

[Service]
User={{ blockchain_node_user }}{{ item }}
Group={{ blockchain_node_user }}{{ item }}
Environment=NODE_LOG_LEVEL={{ blockchain_node_log_level }}
ExecStart=/usr/local/bin/{{ blockchain_node_company }}-node
Restart=always
RestartSec={{ blockchain_node_restart_sec }}

[Install]
WantedBy=multi-user.target
